################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MeetUpDemoBackEnd/MeetUpDemoBackEnd/bin
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/obj/Debug
/MeetUpDemoBackEnd/packages
