################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MeetUpDemoBackEnd/MeetUpDemoBackEnd/bin
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/obj/Debug
/MeetUpDemoBackEnd/packages
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/npm-debug.log
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/node_modules
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/dist/index.ngsummary.json
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/dist/bundles
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/dist/node_modules
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/dist/src
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/dist/index.d.ts
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/dist/index.js
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/dist/index.js.map
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/dist/index.metadata.json
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/app/file-uploader/node_modules
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.module.ngsummary.json
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.service.d.ts
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.service.js
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.service.js.map
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.service.metadata.json
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.service.ngfactory.js.map
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.service.ngsummary.json
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/index.d.ts
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/index.js
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/index.js.map
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/index.metadata.json
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/index.ngsummary.json
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bundles
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/node_modules
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/toast-message-component
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.module.d.ts
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.module.js
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.module.js.map
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.module.metadata.json
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.module.ngfactory.d.ts
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.module.ngfactory.js
/MeetUpDemoBackEnd/MeetUpDemoBackEnd/webApp/src/shared/dist/bootstrap-alert.module.ngfactory.js.map
